<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleThingsProvider.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleThingsProvider.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleThingsProvider.Settings>
            <setting name="ProxyIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebsiteSelected" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WebsiteSubSelected" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="SubTheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SyncWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotShowAgain_RestartApplicationAfterThemeChange"
                serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleThingsProvider.Settings>
    </userSettings>
    <applicationSettings>
        <SimpleThingsProvider.Settings>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>1.0.1.0</value>
            </setting>
        </SimpleThingsProvider.Settings>
    </applicationSettings>
</configuration>